<div id="burgersHead">
<h1>Burgers</h1>
</div>

<div id="burgersNotEaten">

<h3>Burgers that need to be devoured!</h3>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <ul>
        {{this.id}}
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" class="btn btn-success">DEVOUR!</button>
        </form>
      </ul>
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="burgersEaten">

<h3>Burgers that have been devoured!</h3>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <ul>
        {{this.id}}
        {{this.burger_name}}
      </ul>
    {{/if}}
  {{/each}}
</ul>
</div>

<div id="addBurger">

<h2>Add a Burger</h2>

<form method="POST" action="/">
<textarea "Add Buger" id="burgerName" name="burgerName" required></textarea><br>
    <label for="ca">Burger Name:</label>
  <button type="submit" class="btn btn-success">ADD BURGER!</button>
  </div>
</form>
</div>